<div class="navigation-bar">
    <h2 class="header">Personal Treasure</h2>
  </div>
<mat-card class="login-container">
  <h1 *ngIf="isLogin">Hey, good to see you again!</h1>
  <h1 *ngIf="!isLogin">Welcome, Join our community!</h1>
  <h6 *ngIf="isLogin">Login to access your treasure.</h6>
  <mat-card-content>
    <div class="registration-container">
      <ul class="tabs">
        <li class="tab-item" [ngClass]="{'tab-item-active': isLogin}" (click)="isLogin = true;">Login</li>
        <li class="tab-item" [ngClass]="{'tab-item-active': !isLogin}" (click)="isLogin = false;">Register</li>
      </ul>
      <div *ngIf="isLogin" class="login-panel">
        <div class="form-container">
          <div>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Password" [(ngModel)]="loginPassword" type="password" name="password" required>
            </mat-form-field>
          </div>
          <button mat-raised-button class="btn" (click)="login()">Connect</button>

          <a style="display: block; margin-top: 10px;" href="" >Forgot password?</a>
        </div>
      </div>
      <div *ngIf="!isLogin" class="register-panel">
        <div class="form-container">
          <div [formGroup]="registrationForm">
            <mat-form-field style="width:100%">
              <input matInput placeholder="First Name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Last Name" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Email Confirmation" formControlName="cnfEmail" required>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field style="width:100%">
              <input matInput placeholder="Password Confirmation" formControlName="cnfPassword" required>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="register()" class="btn">Submit</button>

        </div>
      </div>

    </div>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</mat-card>
