.navigation-bar{
  width: 100%;
  background: #000;
  user-select: none;
  .header{
    color:#fff;
    display: inline-flex;
     padding: 10px;
  }
}

.login-container {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 1px #ccc;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 520px;
  .tabs {
    list-style: none;
    display: flex;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    .tab-item {
      display: block;
      cursor: pointer;
      flex-basis: 50%;
      text-align: center;
      line-height: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      letter-spacing: 0.8px;
      width: 15%;
      min-width: 80px;
      color: #fff;
      background-color: #000;
      &-active {
        cursor: default;
        opacity: 0.6;
        transition: color 0.28s ease;
      }
    }
  }
  .login-panel,
  .register-panel {
    padding: 20px 0px;
    .form-container > * {
      width: 100%;
    }
    .form-container {
      position: relative;
      display: flex;
      flex-flow: column;
      .treasure-btn-container {
        position: relative;
        .btn-connect {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}

.mat-raised-button{
  background-color:#000;
  color:#fff;
  border-radius: 0px;
}

.full-width {
  width: 100%;
}
