<div class="core-feature-container">
    <div class="navigation-bar">
        <h2 class="header">Personal Treasure</h2>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/treasure">Treasure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/settings">Settings</a>
          </li>
          <div class="white-font">
            <a (click)="onLogout()">Logout</a>
          </div>
        </ul>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>

</div>
